<% losts_of_products = Product.includes(:user).all %>
<ul>
  <% losts_of_products.each do |product| %>
  <li>
    Product Name: "<%= product.name %>" "Costs: <%= product.price %>"
    Sold by <%= product.user.name %>
  </li>
  <% end %>
</ul>
